<br>
<h3> Please log in </h3>
<p> Or <%= link_to "Sign up", '/signup' %></p>
<p> <%= link_to "Home", '/' %></p>
<h5><%= flash[:error] %></h5>
<br> 
<%= form_tag('/login', method: :post) do %>
    <h3> Username:  
        <%= text_field_tag :'user[username]'%><br>
    <h3> Password: 
        <%= password_field_tag :'user[password]'%><br>
        <br>
    <%= submit_tag "Log In"%>
<% end %>