<h3>Welcome back, <%= current_user.username %>! </h3>



<% if current_user.books.count == 0 %>
    <h4> You need to add some Books! </h4>
<% end %>
<h2> Here are your Books by rating, in descending order so far: </h2>
    <% Book.ratings.each do |b| %>
        <% if b.user_id == current_user.id  %>
            <ul>
                <h3><%= link_to b.title, book_path(b) %> - <%= b.rating %> Rating </h3>
            </ul>
        <% end %>
    <% end %>

<%= button_to "Add a new book", new_book_path, method: :get %> 
<br>
<br>
<%= button_to "See other Readers' Books", books_path, method: :get %>
<br>
<br>
<%= button_to "Account Settings", edit_user_path, method: :get %>
<br>
<br>
<%= button_to "Log Out", logout_path, method: 'delete' %>