<h1>Authors</h1>

<%= form_tag authors_path, :method => :get, :class => "search-form" do %>
  <%= label_tag "Search for an author:", nil, :class => "col-form-label" %>
  <%= text_field_tag :first_name, params[:first_name], :placeholder => "First Name" %>
  <%= text_field_tag :last_name, params[:last_name], :placeholder => "Last Name" %>

  <%= submit_tag "Search", :name => nil, :class => "btn btn-outline-dark" %>
<% end %>

<br>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th style="width: 50%"><%= sortable("last_name", "Name") %><%= sort_image("last_name") %></th>
      <th style="width: 50%"><%= sortable("book_count", "Number of Books") %><%= sort_image("book_count") %></th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
      <td><%= link_to author.full_name, author_books_path(author) %></td>
      <td><%= author.book_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>