<%= render 'layouts/footer' %>

<h3> Welcome <%= current_user.username %>! These are your reviews so far:</h3>
<h5><%= flash[:error] %></h5>
<br>
<% if current_user.reviews.count == 0 %>
    <h4> You have not written any reviews yet </h4>
<br>
<% else %>
<% current_user.reviews.each do |review| %>
    <ul>
        <h3><%= link_to "#{review.title}", review_path(review) %></h3>
    </ul>
    <% end %>
<% end %>
<br> 
<br>
    <br>
<h3 style="color:black;"> || Other Readers' book reviews! ||</h3>
<br>
<br>
    <br>

<%= form_tag reviews_path, :method => :get do %>
  <%= label_tag "Search for a Book Review:" %>
  <%= text_field_tag :title, params[:title] %>

  <%= submit_tag "Search", :title => nil %>
<% end %>

<% Review.deleted_user %> 
<% @reviews.each do |review| %>
      <tr>
      <% if review.user_id != current_user.id  %>
      <h3><%= link_to review.title, review_path(review) %> - <%= review.rating %> Rating</h3>
      </tr>


        <% end %>
    <% end %>
<br>
<br>


<h3> © 2020 bookHub <h3>