    <h1><%= @book.title %></h1>
    <h3>Description: <%= @book.description%>
    <h3>Review: <%= @book.review%> 
    <h3>Rating: <%= @book.rating %></h3>
    <h2> Description: <%= @book.description %></h2>
    <br>
    <p>Post created by: <h3><%= @book.user.username %></h3></p>
    <h5><%= flash[:error] %></h5>
    
<br>
<% if logged_in? %>
    <br>
    <%= button_to 'Add Comment', new_book_comment_path(@book), method: :get %>
    <br>
    <%= button_to 'Comments Thread', book_comments_path(@book), method: :get %>
    <br>
    <% if owned_by_user?(@book)%>
        <%= button_to 'Delete book review', book_path(@book), method: :delete %>
        <br>
        <%= button_to 'Edit book review', edit_book_path(@book), method: :get %>
    <% end %>
    <br>
    <%= button_to 'Return to Home', books_path, method: :get %>
    <br> 
<% else %>
    <%= button_to 'Return', "/", method: :get %>
    <br>
<% end %>